{{#each this}}
<li class="gallery__item">
    <div class="movie-card">
        <img class="poster"   src="https://image.tmdb.org/t/p/w300{{poster_path}}" loading="lazy" alt="" data-id={{id}} />
        <div class="movie-details">
            <p class="movie-name">{{original_title}}</p>
            <p class="movie-info">{{genre_ids}} | {{release_date}}</p>
        </div>
    </div>
</li>
{{/each}}

