
    <!-- templates -->
    <div class="modal__backdrop"></div>
    <div class="modal__container">
        <div class="film__imgBox">
            {{!-- <img class="image" src="https://www.themoviedb.org/t/p/w300{{poster_path}}" alt="{{title}}" title="{{title}}"> --}}
            <img class="image" src="{{poster_path}}" alt="{{title}}" title="{{title}}">
        </div>
        <div class="film__infoBox">
            <div>
                <h2 class="film__title">{{title}}</h2>
                <ul class="list">
                    <li class="film__item">
                        <p class="film__properties">Vote / Votes</p>
                        <p class="properties__data--upper">
                            <span class="properties__data--marker">{{vote_average}}</span>
                            <span class="properties__data--divider">/</span>
                            <span>{{vote_count}}</span>
                        </p>
                    </li>
                    <li class="film__item">
                        <p class="film__properties">Popularity</p>
                        <p class="properties__data--upper">{{popularity}}</p>
                    </li>
                    <li class="film__item">
                        <p class="film__properties">Original Title</p>
                        <p>{{original_title}}</p>
                    </li>
                    <li class="film__item">
                        <p class="film__properties">Genre</p>
                        <p>
                        {{#if genres}}
                        {{#each genres}}
                        <span>{{this.name}}{{#unless @last}},{{/unless}}</span>
                        {{/each}}
                        {{else}}<span>N/A</span>
                        {{/if}}
                        </p>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="about__title">About
                </h3>
                <p class="about__text">{{overview}}</p>
            </div>
            <div class="film__buttonBox">
                <button type="button" class="film__button film__btnWatched" data-id={{id}} >Add to Watched</button>
                <button type="button" class="film__button film__btnQueue" data-id={{id}} >Add to Queue</button>
            </div>
            <button type="button" class="close__button" data-action="close-modal"></button>
        </div>
    </div>
    <!-- end template -->
